@model StackFaceSystem.Web.ViewModels.Posts.PagablePostsViewModel

<hr class="style" />
<div class="row">
    <h3 style="display:inline;">
        All post in one page
    </h3>

    <div class="form-inline pull-right">
        <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="Search" maxlength="100" value="">
            <div class="input-group-btn">
                <button class="btn btn-default btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>

    <div class="btn-group pull-right">
        <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <i class="glyphicon glyphicon-sort"></i> Order by
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Title</a></li>
            <li><a href="#">User</a></li>
            <li><a href="#">Date</a></li>
        </ul>
    </div>

    <a href="/Posts/CreatePost" class="btn btn-default btn-sm pull-right"><i class="glyphicon glyphicon-plus"></i> Add new post</a>
</div>
<hr class="style" />

@if (this.TempData["Notification"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&#10006;</button>
        @TempData["Notification"].ToString()
    </div>
}

@foreach (var post in Model.Posts)
{
    @Html.Partial("_Posts", post)
}

<nav class="text-center">
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
            {
            <li>
                <a href="/Posts/Index/@(Model.CurrentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&larr;Previous</span>
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
            {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }
                <li class="@className"><a href="/Posts/Index/@i">@i</a></li>
        }
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li>
                <a href="/Posts/Index/@(Model.CurrentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">Next &rarr;</span>
                </a>
            </li>
        }
    </ul>
</nav>