body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("/Content/images/Background.jpg") no-repeat fixed;
    background-size: cover;
}

.body-content {
    padding-top: 30px;
    padding-left: 300px;
    padding-right: 15px;
}

@media (max-width: 768px) {
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

#logo {
    margin: auto;
    width: 250px;
    height: 50px;
    padding-left: 20px;
}

#comingSoon {
    display: block;
    margin: auto;
    padding: 50px;
    width: 50%;
}

/*.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.2em;
}*/
