@* TODO: Add one foreach *@
<div class="list-group">
    <a href="/Posts/Details/1" class="list-group-item row">
       @Html.Partial("_ViewsAndAnswers")@* TODO: Give an object*@
        <div class="col-xs-8">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <div class="list-group-item-text">
                <div class="footer">
                    before 19 часа in Category by Username(10000 points)
                </div>
                <div class="tags">
                    <span class="label label-default">tag1</span>
                    <span class="label label-default">tag2</span>
                    <span class="label label-default">tag3</span>
                </div>
            </div>
        </div>
    </a>
</div>
