<div class="col-md-2">
    <div class="forum-well text-center">
        <a href="#"><i class="glyphicon glyphicon-thumbs-up"></i></a>
        <div class="row">+6</div>
        <a href="#"><i class="glyphicon glyphicon-thumbs-down"></i></a>
    </div>
</div>